

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.app {
    max-width: 30rem;
    margin: 0 auto;
}

.header {
    height: 2rem;
    background-color: #DF3651;
}

.page-header {
    display: flex;
    padding: 1.5rem 0;
}

h1 {
    margin: 0;
}

.logo {
    font-weight: 700;
    text-decoration: none;
    color: white;
    line-height: 1.6rem;
    height: 1.6rem;
    display: block;
    padding: 0.2rem 0 0.2rem 0.4rem;
}

.timelogs {
    margin-bottom: 1.8rem;
}

.timelog {
    border: 1px solid #ccc;
    padding: 1rem 2.2rem 1rem 1.3rem;
    position: relative;
    margin-bottom: 0.75rem;
}

.timelog-row {
    display: flex;
}

.timelog-row:first-child {
    margin-bottom: 0.3rem;
}

.timelog-duration {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ccc;
    color: white;
    padding: 0.12rem 0.25rem;
    font-size: 0.75rem;
    transform: rotate(90deg) translateX(100%);
    transform-origin: top right;
    width: 2.75rem;
    text-align: center;
}

.timelog-period {
    text-align: right;
}

.timelog-period, 
.timelog-description {
    flex-grow: 1;
}

.timelog-date {
    width: 6rem;
}


.create-btn {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #DF3651;
    border-radius: 1.25rem;
    display: block;
    position: relative;
}

.create-btn::after {
    content: '';
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    display: block;
    width: 2.9rem;
    height: 2.9rem;
    background-color: #F9D1D9;
    border-radius: 1.45rem;
    display: block;
    z-index: -1;
}


.create-timelog input {
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    background-color: #f6f6f6;
}

.create-timelog input:focus {
    outline: 0;
    background-color: #ddd;
    border-color: #aaa;
}

.create-timelog .row {
    margin-bottom: 1.5rem;
}